


<script type="text/javascript">
  <% if signed_in? %>
    window.user = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.staticImages = {
   logoImage: "<%= asset_url("logo.png") %>"

 }
</script>

<main id="root">if this shows its not working</main>
