.display-form {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: hidden;
  display: block;
  justify-content: center;
  align-items: center;
}

.channel-form-footer {
  padding-top: 10px;
}

.channel-form {
  margin: 0 auto;
  max-width: 650px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 100px;
  display: block;
  box-sizing: border-box;
}

.channel-name-input {
  width: 650px;
  height: 40px;
  border: 2px solid rgba(160, 160, 162, 0.7);
  border-radius: 5px;
  font-size: 18px;
  text-indent: 12px;
  text-decoration: none;
  outline: none;
  margin-bottom: 1rem;
}

.cancel-button {
  background: #f9f9f9;
  color: #2c2d30 !important;
  font-weight: 700;
  text-shadow: none;
  border: 1px solid #c7cacd;
  border-radius: 0.25rem;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 19px;
  outline: none;
  float: right;
  margin-right: 13px;
  cursor: pointer;
}

.new-channel-description {
  font-size: 15px;
  line-height: 1.25rem;
  color: #717274;
}

.channel-description-container {
  margin-top: 15px;
  margin-bottom: 25px;
}

.new-channel-title-container {
  margin-bottom: 15px;
}

.channel-button {
  background: #2ea664;
  color: #fff;
  border-radius: 0.25rem;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 19px;
  outline: none;
  float: right;
  cursor: pointer;
}

.new-channel-title {
  font-weight: 900;
  font-size: 34px;
  line-height: 41px;
}

.hidden {
  display: none;
}

.channel-form-container {
}
