.channel-topic-header {
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
}

.channel-header-div {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
  justify-content: space-between;
  display: flex;
}

.chat-message:hover {
  background-color: #f9f9f9;
}

.chat-message {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
//
.chat-text {
  height: 40px;
  border: 2px solid rgba(160, 160, 162, 0.7);
  border-radius: 5px;
  font-size: 18px;
  margin-left: 25px;
  width: 94%;
  text-indent: 15px;
  position: relative;
}

.chat-text:focus {
  border-color: #717274;
  outline: none;
}
// //
.chat-username {
  line-height: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.chat-timestamp {
  color: #717274;
  font-size: 12px;
  padding-left: 10px;
  line-height: 5px;
}

.chat-body {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.chat-container {
  width: 100%;
  height: 100%;
  min-width: 250px;
}

.chat-index {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: auto;
}

.chat-index-overflow {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-area {
  width: calc(100% - 220px);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;
}

.staging-area {
  display: flex;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.info-button {
  font-size: 20px;
  margin: 15px 40px 15px 15px;
  color: #a0a0a2;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.info-button:hover {
  color: #005e99;
}
