.header-navbar {
  height: 70px;
  position: relative;
  border-color: grey;
  border-bottom: 1px solid #ddd;
  background: white;
  width: 100%;

}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-left: 25px;
  position: absolute;
  color: black;
  line-height: 70px;
  display: flex;
}

.hash-logo {
 width: 70px;
 height: 70px;
}



.navbar-link:link {
  text-decoration: none;
}

.navbar-link:visited {
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: none;
}

.navbar-link:active {
    text-decoration: none;
}
