.channel-detail-purpose {
  padding-left: 8px;
  padding-right: 8px;
}

.channel-detail-purpose-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #717274;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.channel-detail-purpose {
  margin-bottom: 1.5rem;
}

.channel-detail-purpose-text {
  line-height: 1.25rem;
  color: #2c2d30;
  font-size: 0.9375rem;
  word-wrap: break-word;
}
