.info-hidden {
  display: none;
}

.display-info {
  height: 100%;
  min-width: 250px;

  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  cursor: default;
}

.info-header {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #f9f9f9;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.info-header-title {
  font-weight: 700;
  font-size: 19px;
  height: 31px;
  text-overflow: ellipsis;
  margin-left: 10px;
  white-space: nowrap;
}

.cancel-button-info {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #717274;
  white-space: nowrap;
  margin-right: 3px;
}

.cancel-button-info:hover {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #005e99;
}

.cancel-button-info:focus {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #005e99;
}

.channel-details-dropdown {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.channel-details-button {
  height: 60px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.channel-members-dropdown {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.channel-members-button {
  height: 60px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.125;
  text-align: left;
}

.channel-members-button-content {
  width: 100%;
  display: flex;
  padding-left: 1px;
  padding-right: 1px;
  color: #a0a0a2;
}

.channel-members-button-text {
  display: flex;
  width: 100%;
}

.members-index-list-div {
  display: none;
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.channel-details-dropdown-div {
  display: none;
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  height: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.members-list-show {
  display: block;
}

.channel-detials-show {
  display: block;
}

.fa-user {
  color: #2ea664;
}

.members-arrow {
  text-align: right;
}
