.info-hidden {
  display: none;
}

.display-info {
  height: 100%;
  min-width: 250px;

  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  cursor: default;
}

.info-header {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #f9f9f9;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.info-header-title {
  font-weight: 700;
  font-size: 19px;
  height: 31px;
  text-overflow: ellipsis;
  margin-left: 10px;
  white-space: nowrap;
}

.cancel-button-info {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #717274;
  white-space: nowrap;
  margin-right: 3px;
}

.cancel-button-info:hover {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #005e99;
}

.cancel-button-info:focus {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #005e99;
}

.channel-details-dropdown {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.channel-details-button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.channel-members-dropdown {
  position: relative;
  border-bottom: 0.0625rem solid #e8e8e8;
  background: #fff;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.channel-members-button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
