.content-container {
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.membership-contents {
  width: 640px;
  max-width: 100%;
  padding-bottom: 2rem;
}
.channel-browser {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 6rem;
}

.membership-header {
  margin-bottom: 2rem !important;
  font-size: 35px;
  color: #2c2d30;
  font-weight: bold;
}

.search-membership {
}

.channel-index-list-div {
  border-right: 0.25rem solid transparent;
  overflow-y: scroll;
  min-height: 0;
  padding-right: 17px;
  flex: 1;
  box-sizing: border-box;
}

.channel-index-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 5000px;
}

.channel-index-list-header {
  color: #717274;
  font-size: 14px;
  width: inherit;
  font-weight: 700;
  background: #f9f9f9;
  border-radius: 4px 4px 0 0;
  padding: 4px 0 4px 12px;
  top: 0px;
  line-height: 1.5rem;
}

.channel-search-li {
  width: inherit;
  min-height: 60px;
  color: #717274;
  cursor: pointer;
  line-height: 1.46668;
  border: 1px solid transparent;
  border-top: 1px solid #e8e8e8;
  padding-right: 5rem;
  padding-left: calc(12px - 1px);
  padding-top: calc(12px - 1px);
  padding-bottom: calc(16px - 1px);
  font-size: 15px;
  font-weight: initial;
}

.channel-search-li:hover {
  background: #eaf5fc;
  border-radius: 6px;
  border: 1px solid #cbe7f7;
}

.cancel-button-membership {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #717274;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
  right: 4rem;
  z-index: 1;
  top: 4rem;
  font-size: 2rem;
  background: none;
  border: none;
  outline: none;
  line-height: 1.5rem;
  align-items: center;
  justify-content: center;
}

.membership-x {
  margin-top: 9px;
}
.esc {
  font-size: 13px;
}

.cancel-button-membership:hover {
  color: #2c2d30;
  background: #e8e8e8;
  outline: none;
  border: none;
}
.cancel-button-membership:active {
  color: #fff;
  background: #2ea664;
  outline: none;
  border: none;
}
