// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: sans-serif;
}

.vsc-initialized {
    background: #f9f9f9;
}

.session-form-container {

}

.session-form-box {
  padding: 70px 0;
  border: 1px solid #e8e8e8;
  text-align: center;
  position: relative;
  display: block;
  margin : 0 auto;
  width: 640px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 40 auto;
  background: white;

}

.session-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none;
  width: 400px;
  margin:auto;
}

.login-title {

}



.session-button {
  border-radius: 5px;
  width: 400px;
  color: white;
  outline: none;
  background-color: #2ea06c
}
