// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: sans-serif;
}

body {
    background: #f9f9f9;
}

.session-form-container {
  padding-top: 60px;
}

.session-form-box {
  padding: 70px 0;
  border: 1px solid #e8e8e8;
  text-align: center;
  position: relative;
  display: block;
  width: 660px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 40 auto;
  background: white;



}

.session-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none;
  width: 400px;
  padding-left: 10px;
  height: 50px;
  font-size: auto;
  font-size: 22px;
  margin: 7px;
}

.login-title {

}



.session-button {
  border-radius: 5px;
  width: 400px;
  color: white;
  outline: none;
  background-color: #2ea664;
  height: 55px;
  font-size: 22px;
  margin-top: 10px;


}
