.splash-page-container {
  display: flex;
  padding-top: 100px;

}

.splash-image-container {

}

.splash-content-container {
  padding: 25px;
}

.splash-paragraph {
  font-family: sans-serif;
  width: 275px;
  color: #5b5e6d;
  padding-bottom: 40px;
}

.splash-slogan {
  font-size: 50px;
  font-family: Georgia;
  font-weight: bold;
}

.splash-signup {
  display: block;
  text-decoration: none;
  width: 171px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  background-color: #3f46ad;
  color: #fff;
  border-radius: 4px;
}
