.splash-page-container {
  padding-top: 100px;

}

.splash-image-container {

}

.splash-content-container {
  
  padding: 25px;
}

.splash-slogan {
  font-size: 50px;
  font-family: Georgia;
  font-weight: bold;
}
