.splash-page-container {
  display: flex;
  padding-top: 100px;

}

.splash-image-container {

}

.splash-content-container {

  padding: 25px;
}

.splash-slogan {
  font-size: 50px;
  font-family: Georgia;
  font-weight: bold;
}

.splash-signup {
  text-align: center;
  background-color: #3f46ad;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
}
