.thread-form-container {
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  position: absolute;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.thread-form-div {
  width: 700px;
  max-width: 100%;
  padding-bottom: 2rem;
}

.thread-form-inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 105px;
}

.thread-input-outer {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.button-wrapper {
  margin-left: 1rem;
  float: right;
}

.new-thread-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #2c2d30;
}

.thread-input-inner {
  padding: 0.5rem 0.75rem 0.75rem;
  border: 1px solid #919193;
  border-radius: 0.25rem;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.5rem;
  user-select: none;
  width: 100%;
}

.thread-submit-button {
  float: right;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 18px;
  padding-right: 18px;
  background: #008952;
  color: #fff;
  line-height: 1.2rem;
  font-weight: 900;
  text-decoration: none;
  user-select: none;
  cursor: point;
  text-shadow: none;
  border: none;
  border-radius: 0.25rem;
  position: relative;
  vertical-align: bottom;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-size: 20px;
}

.search-users {
  font-size: 1.25rem;
  margin-top: 0.25rem;
  margin-right: 6px;
  height: 26px;
  line-height: 26px;
  width: inherit;
  min-width: 25%;
  max-width: 100%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
  flex: 1;
  font-weight: 400;
  border-radius: 0.25rem;
}

.users-index-list-container {
  border-right: 0.25rem solid transparent;
  min-height: 0;

  padding-right: 17px;
  flex: 1;
  box-sizing: border-box;
}

.users-index-list {
  overflow-y: scroll;
  position: relative;
  display: block;
  box-sizing: border-box;
  height: calc(100% - 105px);
  padding-bottom: 5px;
}

.user-name-li {
  width: 96%;
  height: 64px;
  cursor: pointer;
  border: 1px solid transparent;
  border-top: 1px solid #e8e8e8;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 11px;
}

.user-name-li:hover {
  background: #eaf5fc;
  border: 1px solid #cbe7f7;
  border-radius: 6px;
}

.members-array-name-li {
  position: relative;
  background: #2d9ee0;
  color: #fff;
  border-radius: 0.2rem;
  font-weight: 700;
  font-size: 15px;
  padding-left: 32px;
  padding-right: 24px;
  cursor: pointer;
  flex: none;
  line-height: 26px;
  margin-top: 0.25rem;
  margin-right: 6px;
  height: 26px;
}

.members-array-x {
  position: absolute;
  right: 3px;
}

.users-thread-div-header {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #717274;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  height: 52px;
  position: relative;
}

.no-users-text-thread {
  position: absolute;
  bottom: 0;
  left: 0;
}
